@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root{
    --hue-color: 33;

    --first-color: hsl(var(--hue-color), 91%, 50%);
    --second-color: #F2B90C;
    --dark-color: #222121be;
    --title-color: #000;

    --main-title: 2rem;

    --section-margin: 2rem;
}

/* Reset styles */
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}

ul{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 1.5rem;
}

/* Global Classes */

.bi{
    transition: .5s;
}

.bi-whatsapp:hover{
    color: green;
}
.bi-instagram:hover{
    color: orangered;
}

.bi-envelope:hover{
    color: red;
}
.bi-facebook:hover{
    color: blue;
}

.span__contrast{
    color: var(--first-color);
    font-weight: 600;
}

.section__title{
    color: var(--title-color);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 1rem;
}

.section__subtitle{
    text-align: center;
    margin-bottom: 1rem;
}

.text__description{
    text-align: center;
    color: var(--dark-color);
    margin: 1rem;
}

/* HEADER */
.navbar{
    background-color: var(--dark-color);
    align-items: center;
    height: 10vh;
}

a.navbar-item:hover{
    color: var(--first-color);
    background-color: transparent;
}

.navbar-menu.is-active{
    background-color: var(--dark-color);
    text-align: center;
}

.navbar-burger span{
    background-color: var(--second-color);
}

.header__logo{
    color: var(--first-color);
    margin-top: .3rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}

.navbar-burger{
    margin-top: .3rem;
}

.navbar-menu{
    padding-right: 2rem;
    
}

.navbar-item{
    color: #fff;
    letter-spacing: 2px;
    transition: .3s;
}
/* HOME */

#home{
    position: relative;
    padding: 0;
    height: 100vh;
}

.home__bg{
    background-image: url(./img/bg-home_fundo.jpg);
    background-size: cover;
    background-position: center; 
    background-color: var(--dark-color);
    height: 100vh;
}

.home__data{
    position: absolute;
    bottom: 6rem;
    padding-left: 2rem;
}

.title{
    font-size: 3rem;
    color: white;

}

.subtitle{
    color: white;
}

.home__button{
    background-color: #F2B90C;
    border: none;
    color: var(--dark-color);
    font-weight: 600;
    letter-spacing: 2px;
    transition: .3s;
}

.home__button:hover{
    opacity: .8;
}

/* ABOUT CROSS */

#about__cross{
    height: 50vh;
}
.about__bg{
    display: none;
}
.about__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
}

.about__box{
    display: flex;
    flex-direction: column;
}

.about__icon{
    text-align: center;
    color: var(--second-color);
    font-size: 2rem;
}

.about__icon-span{
    color: rgba(0, 0, 0, 0.671);
}

/* CROSS FOR ME? */

.aboume__box{
    display: flex;
    margin: 1.5rem;
    text-align: center;
}

.aboutme__icon{
    display: flex;
    align-items: center;
    margin-right: 1rem;
    color: var(--first-color);
    font-size: 2rem;
}

/* COACH */

#coach h2{
    margin-bottom: 0;
}

.aboutus__img{
    display: flex;
}

.aboutus__icons{
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.aboutus__icon{
    color: var(--first-color);
    font-size: 1.2rem;
    margin: 2rem;
}

.aboutus__icons a{
    padding-top: 1rem;
}

.aboutus__img-coach{
    width: 300px;
    border-radius: 5%;
    text-align: center;
}


/* Planos */

.pricing-plan{
    border-radius: 25px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
    overflow: hidden;
    font-size: 1rem;
    line-height: 1.5;
    margin: 1rem;
    margin-bottom: 2rem;
}

.pricing-plan__highlighted{
    box-shadow: 0 0 15px rgba(0,0,0, 0.4);
    transform: scale(1.05);
}

.pricing-plan__special-text{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: var(--dark-color);
    background: var(--second-color);
    box-shadow: 0 0 10px rgba(0,0,0, 0.2) inset;
}

.pricing-plan__header{
    padding: 1.5rem;
    background: var(--dark-color);
}

.pricing-plan__title,
.pricing-plan__summary {
    margin: 0;
    text-align: center;
    color: var(--first-color);
}

.pricing-plan__title{
    font-size: 1.5rem;
    font-weight: 400;
}


.pricing-plan__summary{
    font-size: 1rem;
    font-weight: 300;
}
.pricing-plan__description{
    padding: 1.5rem;
}

.pricing-plan__list{
    padding: 0;
    margin: 0;
}

.pricing-plan__feature{
    margin: 0;
    padding-left: 1.5rem;
    position: relative;
    font-size: 0.9em; 
}

.pricing-plan__feature:not(:last-child) {
    margin-bottom: 0.5em;
}

.pricing-plan__feature:before {
    content: "\2714";
    color: var(--second-color);
    position: absolute;
    left: 0;
}

.pricing-plan__actions {
    padding: 1.5rem;
    border-top: 1px solid #eeeeee;
    display: flex;
    flex-direction: column;
}

.pricing-plan__button{
    display: inline-block;
    margin: 1rem auto;
    padding: 0.5rem 1.2rem;
    color: var(--first-color);
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: bold;
}

.pricing-plan__button:hover{
    background-color: var(--first-color);
    color: #ffffff;
}

.pricing-plan__cost{
    margin: 0;
    text-align: center;
    font-size: 2em;
    color: #000;
}

.pricing-plan__text{
    font-size: 0.9em;
    text-align: center;
    margin: 0 0 10px 0;
}



/* testimonials */

.testimonial__data,
.testimonial__header{
    display: flex;
}

.testimonial__data{
    justify-content: space-between;
    margin-bottom:1rem;
}

.testimonial__img{
    object-fit: cover;
    clip-path: circle();
    width: 60px;
    height: 60px;
    margin-right: .75rem;
}

.testimonial__name{
    font-size: 1.5rem;
    color: var(--title-color);
}

.testimonial__client{
    font-size: 1rem;
    color: var(--title-color);

}

.testimonial__description{
    margin-bottom: 2rem;
}

.testimonial__icon-star{
    color: var(--first-color);
}

/* Parcerias */
.support{
    padding: 0;
}

.support h2{
    margin: 0;
}
.support__container{
    display: flex;
    justify-content: space-around;
    
}

.support__img{
    width: 20%;
    height: 100%;
}

.support__img img{
    width: 100%;
    border-radius: 50%;
}

/* CONTATO */

.input:hover,
.textarea:hover{
    border-color: var(--first-color);
}

#contactUs .container{
    display: flex;
    flex-direction: column;
}

.contact__content-data{
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(128,128,128, .25);
}

.contact__box{
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact__box-title{
    display: flex;
}

.contact__box-title i{
    color: var(--second-color);
    font-size: 1.5rem;
}

.contact__info-title{
    color: #000;
    margin-left: .5rem;
    font-size: 1.5rem;
}

.contact__info-subtitle{
    color: rgba(0, 0, 0, 0.616);
    font-size: 1rem;
}

#contactUs .home__button{
    margin-top: 1rem;
}

/* FOOTER */

.footer{
    background-color: var(--dark-color);
}

.footer .content{
    display: flex;
    justify-content: space-around;
}

.footer__img-container{
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.342);
}

.footer__list a{
    color: #fff;
}
.footer__list a:hover{
    color: rgb(173, 169, 169);
}

.footer__icons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer__icons i {
    color: #fff;
    cursor: pointer;
}
/* Scroll bar */
::-webkit-scrollbar{
    width: .60rem;
    background-color: rgba(126, 122, 122, 0.185);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--second-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--first-color);
}

@media screen and (min-width: 768px){
    /* HEADER */
    #home .subtitle{
        width: 60%;
    }
    #home .title{
        font-size: 3.5rem;
    }

    /* COACH */

    .aboutus__img{
        display: block;
        text-align: center;
    }
    .aboutus__icons{
        display: flex;
        flex-direction: row;
    }
    .aboutus__img-coach{
        width: 50%;
        margin-top: 1rem;
    }
    
    /* PLANS */

    .pricing__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pricing-plan{
        width: 60%;
    }
    
    /* PARCERIAS */
    .support__img{
        text-align: center;
    }
    .support__img img{
        width: 80%;
    }
}

@media screen and (min-width: 1023px){
    /* HOME */

    .home__data{
        padding-left: 4rem;
    }
    #home .title{
        font-size: 4rem;
    }
    .home__bg{
        background-image: url(./img/bg-home-max.jpg);
        background-size: cover;
        background-position: left left; 
        background-color: black;
        background-repeat: no-repeat;
    }

    /* ABOUT CROSS */
    #aboutCross{
        display: flex;
        height: 100vh;
        padding: 0;
        margin: 0;
    }
    
    .about__div-title{
        width: 50%;
        background-image: url(./img/peopleAbout.jpg);
        background-color: var(--dark-color);
        background-size: cover;
        position: relative;
    }
    .about__div-title .section__title{
        position: absolute;
        margin: 0;
        right: 5rem;
        top: 7rem;
        font-size: 3rem;
        color: white;
    }

    #aboutCross .container{
        width: 50%;
        padding-top: 5rem;
        text-align: center;
    }
    .about__container{
        margin-top: 8rem;
    }
    .about__icon{
        font-size: 3rem;
    }
    .about__bg{
        display: block;
    }

    /*ABOUT CROSS FOR ME?*/

    #about__Crossme{
        height: 60vh;
        display: flex;
        /* border: 0.5px solid rgba(0, 0, 0, 0.103); */
        box-shadow: 0px 1px 5px rgba(128,128,128, .25);
    }
    .aboutme__div-title{
        width: 50%;
    }
    .aboutme__div-title .section__title{
        padding-top: 5rem;
        font-size: 3rem;
    }
    #about__Crossme .container{
        width: 50%;
    }

    /*  PLANS */

    .pricing__container{
        flex-direction: row;
    }

    /* COACH */
    #coach .container{
        display: flex;
    }
    .aboutus__img{
        width: 50%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
    }
    .aboutus__img-coach{
        width: 500px;
    }

    .aboutus__description{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* CONTACTS */

    #contactUs .container{
        flex-direction: row;
        justify-content: space-between;
    }
    .contact__content-input{
        width: 50%;
    }
    .contact__content-data{
        width: 40%;
        justify-content: center;
    }
}
    

